html, body {
  margin: 0;
  position: relative; }

ul {
  list-style-type: none; }

div, ul, ol, li, img, a, p, h1, h2, h3, h4, h5, li {
  text-align: center;
  margin: 0 0;
  padding: 0 0; }

body {
  height: 100vh;
  overflow: hidden; }
  body #total {
    height: 100%;
    display: flex;
    flex-direction: column; }

#tab-selector {
  width: 100px; }

.tab-selectors {
  width: 200px;
  margin-top: 3px;
  margin-bottom: 3px;
  float: left;
  clear: left; }

#top-panel {
  position: relative;
  margin-top: 25px; }

.wrapper {
  border-style: solid;
  border-width: 1px 0px 0 0px;
  margin: 35px 0;
  flex: 1;
  display: flex; }
  .wrapper #left-panel {
    margin-top: 20px;
    border-style: solid;
    border-width: 0 1px 0 0px;
    display: flex;
    flex-direction: column; }
    .wrapper #left-panel #row-subpanel {
      flex: 1;
      display: flex;
      flex-direction: column; }
      .wrapper #left-panel #row-subpanel h3 {
        margin-bottom: 10px; }
      .wrapper #left-panel #row-subpanel #changed-list {
        overflow: auto; }
        .wrapper #left-panel #row-subpanel #changed-list li {
          position: relative;
          margin: 5px 5px;
          margin-right: 10px; }
        .wrapper #left-panel #row-subpanel #changed-list .child-1 {
          position: relative;
          left: 25px; }
        .wrapper #left-panel #row-subpanel #changed-list .child-2 {
          position: relative;
          left: 50px; }
        .wrapper #left-panel #row-subpanel #changed-list .child-3 {
          position: relative;
          left: 75px; }
        .wrapper #left-panel #row-subpanel #changed-list .selected {
          border-style: solid;
          border-radius: 10px;
          border-color: blue;
          border-width: 3px; }
        .wrapper #left-panel #row-subpanel #changed-list .added {
          background-color: #2ecc71;
          border-radius: 10px; }
        .wrapper #left-panel #row-subpanel #changed-list .conflict {
          background-color: #f1c40f;
          border-radius: 10px; }
    .wrapper #left-panel #confirm-subpanel {
      margin-top: 30px; }
      .wrapper #left-panel #confirm-subpanel .confirm-button {
        background-color: #48c9b0;
        border-color: #48c9b0; }
  .wrapper #right-panel {
    margin-top: 20px;
    display: flex;
    flex-direction: column; }
    .wrapper #right-panel #info-table-wrapper {
      overflow: auto;
      flex: 1;
      display: flex;
      flex-direction: column; }
    .wrapper #right-panel table {
      overflow: auto;
      width: 90%; }
      .wrapper #right-panel table th, .wrapper #right-panel table td {
        text-align: left;
        padding: 5px; }

#info-table-wrapper::-webkit-scrollbar, ul::-webkit-scrollbar {
  margin-right: 10px;
  width: 8px;
  background-color: #F5F5F5; }

#info-table-wrapper::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5; }

#info-table-wrapper::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1ABC9C; }

@keyframes pulse_animation {
  0% {
    transform: scale(1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1.08); }
  50% {
    transform: scale(1); }
  60% {
    transform: scale(1); }
  70% {
    transform: scale(1.05); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

.pulse {
  animation-name: pulse_animation;
  animation-duration: 5000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }
